:root{
    --bg: #1b1b1b;
    --nav: #014751;
    --primary: #37f4b5;
    --texto: #fdfdfd;
}

body{
    margin: 0;
    background-color: var(--bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: var(--nav);
    flex-shrink: 0;
    width: 200px;
}

main{
    display: flex;
    flex-direction: column;
}

#ulFicha {
    display: none;
}

nav h1{
    background-color: var(--bg);
    color: var(--texto);
    text-align: center;
}

.hero{
    position: relative;
}

#pesquisa{
    width: 95%;
    min-width: 0;
    margin: auto;
}

#pesquisa-container{
    display: flex;
    align-items: center;
}

#pesquisa-container input{
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 20px;
    height: 35px;
}

