:root{
    --bg: #fdfdfd;
    --nav: #e7fe25;
    --primary: #013f32;
    --texto: #161616 ;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*body.dark{
    --bg: #161616;
    --nav: #013f32;
    --primary: #e7fe25;
    --texto: #fdfdfd;
}
*/

nav{
    background-color: var(--nav);
}